.register {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(0, 0, 0, 0.5)),
    url("https://images.pexels.com/photos/3829226/pexels-photo-3829226.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-size: cover;
  align-items: center;
}
.registerTitle {
  font-size: 50px;
}
.registerForm {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
}
.registerForm > label {
  margin: 10px 0;
}
.registerInput {
  padding: 10px;
  background: white;
  border: none;
  border-radius: none;
}
.loginButton {
  margin-top: 20px;
  cursor: pointer;
  background: lightseagreen;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px;
}
.registerButton {
  margin-top: 20px;
  cursor: pointer;
  border: none;
  background: lightcoral;
  color: white;
  border-radius: 10px;
  padding: 10px;
  top: 60px;
  position: absolute;
  right: 20px;
}
