.settings {
  display: flex;
}
.settingsWrapper {
  flex: 9;
  padding: 20px;
}
.settingsTitles {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: cadetblue;
}
.settingsUpdateTitle {
  font-size: 30px;
  margin-bottom: 20px;
}
.settingsDeleteTitle {
  color: red;
  font-size: 12px;
  cursor: pointer;
}
.settingsForm {
  display: flex;
  flex-direction: column;
}
.settingProfilePicture {
  display: flex;
  align-items: center;
  margin: 10px 0;
}
.settingProfilePicture > img {
  width: 70px;
  height: 70px;
  border-radius: 50px;
  object-fit: cover;
}
.faUser {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 10px;
  cursor: pointer;
}
.settingsForm > label {
  font-size: 20px;
  margin-top: 20px;
}
.settingsForm > input {
  color: gray;
  margin: 10px 0;
  height: 30px;
  border: none;
  border-bottom: 1px solid lightblue;
}
.settingsSubmit {
  width: 150px;
  height: 40px;
  align-self: center;
  border: none;
  border-radius: 10px;
  color: white;
  background: rgb(79, 167, 221);
  margin-top: 20px;
  cursor: pointer;
}
